body {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }
  main {
    display: grid;
    place-items: center;
    margin-bottom: 10p
  }

header  {
  height: 50px;
  width: 100vh;
  margin-bottom: 2px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

nav > a {
  color: #51D94C;
  align-content: center;
  border-color: rgb(177, 174, 174);
  text-decoration: none;
}

nav > a:hover{
  color: black;
  background: linear-gradient(to bottom, white, rgba(25, 254, 0, 0.4));
}