body {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }
  main {
    display: grid;
    place-items: center;
    margin-bottom: 10px;
  }

header  {
  height: 50px;
  margin-bottom: 2px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-wrap: none;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  color: #51D94C;
  align-content: center;
  border-color: rgb(177, 174, 174);
}

nav > a:hover{
  color: black;
  background: linear-gradient(to bottom, white, rgba(25, 254, 0, 0.4));
}